trigger: none
pool: agent-pool
steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      # Write your PowerShell commands here.
      
      Write-Host "Hello World"

- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'